body{
    height: 100vh;
    background-color: rgb(227, 224, 224);
    display: flex;
    flex-direction: column;
   
}
*{
    font-family: monospace;
}
h1{
    font-family: "Exile", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #7291ba;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px; 
}

#entrada{
    width: 350px; height: 30px;
    border-radius: 4px;
    border: solid 4px rgb(139, 138, 138);
    font-size: 20px;
}
#entrada:hover{
    border-color: rgba(71, 71, 206, 0.642);

}

.tarea{
    background-color:rgb(227, 224, 224) ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: solid 5px #fff;
    border-radius: 10px;
    overflow-wrap: anywhere;
}
.tarea p{ 
    width: 55%;
    font-size: 20px;
    
}

::placeholder{
    text-align: center;
    font-size: 15px;
}
.btn{
    width: 80px; height: 40px;
    border-radius: 4px;
    border: solid 4px rgb(139, 138, 138);
}
.btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: black;
    font-weight: 800;
    border-color: rgba(71, 71, 206, 0.642);
}

.borrar{
    color: red;
    font-size: 20px;
    margin: 10px;
}
.borrar:hover{
    font-size: 22px;
    cursor: pointer;
    
}
.conteiner-check-delete{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
#conteiner-all{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

#conteinerList{
    margin: 0%;
    padding: 0%;
    width: 80vw;
    max-height: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.check{
    align-self: center;
    width: 20px; height: 20px;
}

h3{
    font-size: 30px;
}
#conteiner-contador-tarea{
    display: flex;
    justify-content: space-evenly;
}

.subrrayar{
    text-decoration: line-through;
}

.agregar-tarea{
    display: flex;
    gap: 10px;  
}
.contadores{
    display: flex;
    width: 100px;height: 50px;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 48px; height: 48px;
}
#icon3{
    width: 60px;height: 60px;
}
.agregar-tarea{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    #conteinerList{
    width: 95vw;
}
}