:root{
    --colorBg: #fff;
    --colorText: #fff ;
    --colorTema1: #0E2148;
    --colortTema2: #14131a;
    --colortTema3: #B2FFFF;
}
*{
    padding: 0% 0%;
    margin: 0% 0%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;
    /* text-shadow: 2px 2px 6px var(--colortTema2); */
}
.logo{
    background: linear-gradient(to bottom, #fff 30%, #B2FFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-delay: 2s;
    animation: aparecer 2s ease;
    
}
#conteinerLogo{
    background-color: #0E2148;
    border-radius: 5px;
    padding: 8px;
}
#logoNw{
 position: absolute;
 z-index: 1;
 left: 35%;
 top: 100px;
 opacity: 0.2;

 
}
#logoI{
    font-size: 500px;
    animation: aparecer 2s ease-in-out ;
    color: var(--colorTema1);
}
h1{
    display: flex;
    
}
.logoCloud{
    font-size: 50px;
    margin-right: 5px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 5;
    width: 100%; height: 80px;
    color: var(--colorText);
    background-color: var(--colorBg);
    border-bottom:solid 4px var(--colorTema1);
    box-shadow: 2px 2px 4px black;
    border-radius: 0px 0px 20px 20px;
}
body{
    justify-self: center;
    background-color: #e8e6df;
    width: 95vw; height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#conteiner-inf{
display: flex;
justify-content: center;
height: 60%; 
}
#temp{
    font-size: 70px;
    margin-left: 50px;
    position: absolute;
    right: 400px;
    top: 180px;
}
#simbolo{
    font-size: 30px;
    position: relative;
    top: -30px;
}

button{
    background-color: var(--colorBg);
    color: var(--colorTema1);
    height: 40px;
    padding: 0% 10px;
    width: max-content;
    transition: transform 0.2 ease;
    border: 4px solid var(--colorTema1) ;
    border-radius: 5px;
}
button:hover{
    background-color: var(--colorTema1) ;
    box-shadow: 1px 1px 4px var(--colorBg);
    border-radius: 5px;
    color: var(--colorBg);
}
button:active{
    transform: scale(0.90);
}
#cambiarBg{
    font-size: 30px; 
    cursor: pointer;
}
.oscuro{
    background-color: var(--colortTema2);
}


.liHistorial{
    border-bottom:solid 2px var(--colorTema1);
    padding-bottom: 8px;
    font-size: 13px;

}

input{
    border-radius: 5px;
    height: 40px;
    width: 80%;
    max-width: 400px;
    border: solid 4px var(--colorBg);
    text-align: center;
    color: #0E2148;
    font-weight: 600;
    font-size: 15px;
    margin-right: 30px;
    border: solid 4px var(--colorTema1);
}
input:hover{
    border: solid 4px var(--colortTema3);
}

::placeholder{
    color: #0E2148;
    font-weight: 600;
    text-align: center;
    font-size: 12px; 
}
#conteiner-input{
    display: flex;
   
}
#conteiner-detalles{
    display: flex;
    gap: 30px;
    width: 70vw;
}
#historial{
    width: 40%; height: fit-content;
    max-height: 400px;
    overflow: hidden;
}
.conteiners{
    width: 50%;
}
#iconU{
    color: var(--colorTema1);
    font-size: 35px;
}
#ubicacion{
    border: none;
    padding: 0% 0%;
}
#iconU:hover{
    color: var(--colorBg);
}
i{
    color: var(--colorTema1);
    font-size: 25px;
}

#botones{
    display: flex;
    gap: 20px;
}
.conteiner-contenido {
    background-color: var(--colorBg);
    border-radius: 8px;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    color: var(--colorTema1);
    animation: aparecer 2s ease-in-out ;
    border: solid 2px var(--colorTema1);
    box-shadow: 2px 2px 4px black;
}

@keyframes aparecer {
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
.weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px var(--colorTema1);
    z-index: 2;
}
h3, p, #simbolo{
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: bold;
}
p{
    font-size: 20px;
}
h2{
    text-align: center;
    font-size: 25px;
}
.datos{
    display: flex;
    gap: 10px;
}
#imgClima{
    width: 130px;
    position: absolute;
    left: 430px;
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#encabezado{
    color: var(--colorTema1);
    font-size: 30px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
ul li{
    list-style: none;
    font-size: 15px;
}
.conteinerWN{
    margin-top: 150px;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding-bottom: 20px;
}
.wetherNext{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border: solid 2px var(--colorTema1);
    background-color: var(--colorBg);
    height: px; width: 100px;
    max-height: 230px; 
    box-shadow: 2px 2px 4px black;
    gap: 5px;
    padding: 0% 10px;
    border-radius: 0% 10px 10px 0%;
    transition: width 1s ease;
    color: var(--colorTema1);
    white-space: nowrap;  
}
.imgClima{
    width: 80px;
}
.pText{
    white-space: wrap;
}
.conteinerFecha{
    display: flex;
    flex-direction: column;
    width: 100px;
    border-right:solid 2px var(--colorTema1);
    height: 70%;
    align-self: center;
    justify-content: center;
    padding-right: 10px;
}

.wetherNext:hover{
    width: 250px;
    transition: width 1s ease;
    
}
.conteinerTemp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
}


@media (max-width: 768px) {
    body{
        height: 100%;
        flex-direction: column-reverse;
    }
    header{
        height: 200px;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 30px;
    }
   #conteiner-input{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
   }
   input{
    margin-right: 0%;
   }
   #mostrar{
    height: 300px;
    /* margin-bottom: 50px; */
    width: 500px;
    align-self: center;
   }
   h2{
    font-size: 15px;
   }
   #conteiner-inf{
    margin-top: 270px;
   }
   #temp{
    font-size: 50px;
    right: 95px;
    top: 295px;
    }
    #simbolo{
      font-size: 25px;
      top: -20px;
    }
   #conteiner-detalles{
    flex-direction: column;
    width: 100%;
   }
   #historial{
    min-width: 80%;
    align-self: center;
    margin-bottom: 30px;
    max-height: 130px;
   }
   .conteinerWN{
    align-content: center;
    gap: 30px;
    margin-top: 0%;
   }
   .wetherNext{
    width: 300px;
    display: flex;
    gap: 30px;
    height: fit-content;
   }
   .wetherNext:hover{
    width: 300px;
   }
   .conteinerFecha{
    align-items: center;
    border-right: none;
    gap: 15px;
    padding-right: 0%;
    padding-bottom: 10px;
   }
   .conteinerTemp{
    align-items: center;
   }
   #imgClima{
    width: 80px;
    left: 100px;
   }
   .imgClima{
    width: 120px;
   }
   #logoI{
    font-size: 300px;
  }
  #logoNw{
    top: 290px;
    left: 180px;
  }


}