:root{
    --colorBg: #fff;
    --colorText: #fff ;
    --colorTema1: #0E2148;
    --colortTema2: #14131a;
    --colortTema3: #B2FFFF;
}
*{
    padding: 0% 0%;
    margin: 0% 0%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;
    /* text-shadow: 2px 2px 6px var(--colortTema2); */
}
#logo{
    background: linear-gradient(to bottom, #fff 30%, #B2FFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-delay: 2s;
    animation: aparecer 2s ease;
    
}
#conteinerLogo{
    background-color: #0E2148;
    border-radius: 5px;
    padding: 8px;
}
h1{
    display: flex;
    
}
#logoCloud{
    font-size: 50px;
    margin-right: 5px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%; height: 80px;
    color: var(--colorText);
    background-color: var(--colorBg);
    border-bottom:solid 4px var(--colorTema1);
    box-shadow: 2px 2px 4px black;
    border-radius: 0px 0px 20px 20px;
}
body{
    justify-self: center;
    background-color: var(--colorText);
    width: 95vw; height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#conteiner-inf{
display: flex;
justify-content: center;
height: 60%; 
}

button{
    background-color: var(--colorBg);
    color: var(--colorTema1);
    height: 40px;
    padding: 0% 10px;
    width: max-content;
    transition: transform 0.2 ease;
    border: 4px solid var(--colorTema1) ;
    border-radius: 5px;
}
button:hover{
    background: linear-gradient(to bottom, var(--colorBg)10%, var(--colortTema3));
    box-shadow: 1px 1px 4px var(--colorBg);
    
    border-radius: 5px;
    color: var(--colorTema1);
}
button:active{
    transform: scale(0.90);
}
#cambiarBg{
    font-size: 30px; 
    cursor: pointer;
}
.oscuro{
    background-color: var(--colortTema2);
}


.liHistorial{
    border-bottom:solid 2px var(--colorTema1);
    padding-bottom: 8px;
    font-size: 13px;

}

input{
    border-radius: 5px;
    height: 40px;
    width: 80%;
    max-width: 400px;
    border: solid 4px var(--colorBg);
    text-align: center;
    color: #0E2148;
    font-weight: 600;
    font-size: 15px;
    margin-right: 30px;
    border: solid 4px var(--colorTema1);
}
input:hover{
    border: solid 4px var(--colortTema3);
}

::placeholder{
    color: #0E2148;
    font-weight: 600;
    text-align: center;
    font-size: 12px; 
}
#conteiner-input{
    display: flex;
   
}
#conteiner-detalles{
    display: flex;
    gap: 30px;
    width: 70vw;
}
#historial{
    width: 40%; height: fit-content;
}
.conteiners{
    width: 50%;
}

i{
    color: var(--colorTema1);
}

#botones{
    display: flex;
    gap: 20px;
}
.conteiner-contenido {
    background-color: var(--colorBg);
    border-radius: 8px;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    color: var(--colorTema1);
    animation: aparecer 2s ease-in-out ;
    border: solid 4px var(--colorTema1);
    box-shadow: 2px 2px 4px black;
}

@keyframes aparecer {
    0%{opacity: 0.1;}
    100%{opacity: 1;}
}
.weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px var(--colorTema1);
    
    

   
}
h3, p{
    font-family: "Audiowide", sans-serif;
    font-style: normal;
    font-weight: bold;
}
h2{
    text-align: center;
    font-size: 20px;
}
.datos{
    display: flex;
    gap: 10px;
}
#imgClima{
    width: 100px;
    position: relative;
    right: 50px;
    
}
#name{
    display: flex;
    align-items: center;
    justify-content: center;
}
#encabezado{
    color: var(--colorTema1);
    font-size: 30px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
ul li{
    list-style: none;
    font-size: 15px;
}
.conteinerWN{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 70px;
}
.wetherNext{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border: solid 4px var(--colorTema1);
    background-color: var(--colorBg);
    height: 150px; width: 100px;
    min-height: fit-content; 
    box-shadow: 2px 2px 4px black;
    gap: 5px;
    padding-left: 10px;
    border-radius: 0% 10px 10px 0%;
    transition: width 1s ease;
    color: var(--colorTema1);
     
}
.conteinerFecha{
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: space-around;
}

.wetherNext:hover{
    width: 250px;
    transition: width 1s ease;
}
.conteinerTemp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px) {
    body{
        height: 100%;
        flex-direction: column-reverse;
    }
    header{
        height: 200px;
        flex-wrap: wrap;
        width: 100%;
    }
   #conteiner-input{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
   }
   input{
    margin-right: 0%;
   }
   #mostrar{
    height: 300px;
    margin-bottom: 50px;
    width: 80%;
    align-self: center;
  
   }
   #conteiner-inf{
    margin-top: 225px;
   }
   #conteiner-detalles{
    flex-direction: column-reverse;
    width: 100%;
   }
   #historial{
    min-width: 80%;
    align-self: center;
   }

   .conteinerWN{
    align-content: center;
   }
   .wetherNext{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
   }
   .conteinerFecha{
    flex-direction: row;
    width: 100%;
    align-items: center;
   }
   .imgClima{
    width: 80px;
   }
}